[Unit]
Description=Sonatype Nexus Repository Manager
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
LimitNOFILE=65536
User={{ nexus_user }}
Group={{ nexus_group }}
ExecStart={{ nexus_install_dir }}/bin/nexus start
ExecStop={{ nexus_install_dir }}/bin/nexus stop
Restart=on-abort
TimeoutSec=600

[Install]
WantedBy=multi-user.target
