sonar.jdbc.username={{ sonarqube_db_user }}
sonar.jdbc.password={{ sonarqube_db_password }}
sonar.jdbc.url={{ sonarqube_jdbc_url }}

sonar.web.host=0.0.0.0
sonar.web.port={{ sonarqube_port }}
sonar.web.context={{ sonarqube_web_context }}

sonar.path.data=/var/sonarqube/data
sonar.path.temp=/var/sonarqube/temp
sonar.path.logs=/var/log/sonarqube
